@model IEnumerable<Product>
<h2>Список товаров</h2>
@Html.CreateList(Model)

@foreach (var product in Model)
{
    <span>@product.Id</span> @Html.ActionLink(@product.Name, "Get", "Home", new { id = product.Id })
    <br />
}

@Html.ActionLink("Добавить", "Create")